@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@font-face {
    font-family: "Roboto-Light";
    src: url("fonts/Roboto-Light.ttf");
}
@font-face {
    font-family: "OstrichSans-Medium";
    src: url("fonts/OstrichSans-Medium.otf");
}
@font-face {
    font-family: "CaviarDreams";
    src: url("fonts/CaviarDreams.ttf");
}
@font-face {
    font-family: "AlexBrush-Regular";
    src: url("fonts/AlexBrush-Regular.ttf");
}
@font-face {
    font-family: "Roboto-Thin";
    src: url("fonts/Roboto-Thin.ttf");
}
@font-face {
    font-family: "OstrichSans-Medium";
    src: url("fonts/OstrichSans-Medium.ttf");
}
@font-face {
    font-family: "RobotoCondensed-LightItalic";
    src: url("fonts/RobotoCondensed-LightItalic.ttf");
}
@font-face {
    font-family: "Explora-Regular";
    src: url("fonts/Explora-Regular.ttf");
}
@font-face {
    font-family: "Pacifico-Regular";
    src: url("fonts/Pacifico-Regular.ttf");
}


*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
}

body{
    background-color: whitesmoke;
    height: 1000vh;
}


.header .navbar{
    background: white;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    box-shadow: 2px 2px 8px #c5f6fa;
}

.header .navbar .title{
    font-size: 2.7rem;
    font-family: "CaviarDreams",sans-serif;
    padding: 2.4rem;
    color: #eed26f;
}

.header .navbar .lists{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    /* margin: 0 auto; */
}

.header .navbar .lists .list{
    padding: 2rem;
}

.header .navbar .lists .list a{
    text-decoration: none;
    font-size: 2rem;
    color: #ffa94d;
    text-transform: uppercase;
}

.header .back{
    width: 100vw;
    height: 80vh;
    /* background: linear-gradient(rgba(124, 233, 133, 0.336),rgba(63, 59, 59, 0.822)); */
    background-position: center;
    object-fit: cover;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}

.header .back .content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 3rem;
    height: 100%;
}

.main-carousel{
     max-width: 100vw;
}


.header .back .content h1{
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    font-family: "Explora-Regular",sans-serif;
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: 7px;
    color: #fcc2d7;
}
.header .back .content p{
    font-size: 2.4rem;
    font-weight: 800;
    font-family: "Roboto-Thin",sans-serif;
    text-transform: capitalize;
}

.header .back .content .link {
    margin-top: 4rem;
    /* display: block; */
}

.header .back .content .link a{
    background-color: #fcc2d7;
    padding: 1.4rem 5rem;
    font-size: 1.4rem;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(75, 3, 75);
    text-transform: uppercase;
    font-family: "Roboto-Thin",sans-serif;
    font-weight: 700;
}


.boxes{
    width: 100vw;
    margin-top: 5rem;

}

.boxes .container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    width: 90vw;
    margin: 0 auto;

}

.boxes .container .box{
    position: relative;
    height: 300px;
    align-self: flex-start;
    overflow: hidden;
    transition: all 4s;
}

.boxes .container .box img{
    width: 100%;
    height: 100%;
    transition: all 4s;
}

.boxes .container .box .overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(40 16 66 / 40%),rgb(12 10 10 / 40%));

}

.boxes .container .box:hover img{
    transform: scale(6);
}
.boxes .container .box:hover .content{
    transform:translateX(70px);
}

.boxes .container .box .content{
    position: absolute;
    transition: all 2s;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.boxes .container .box .content h1{
    font-size: 2.9rem;
    font-weight: 600;
    color: rgb(226, 180, 187);
    font-family: "Pacifico-Regular",sans-serif;
    letter-spacing: 10px;
}



.create{
    margin-top: 5rem;
    width: 99vw;
    height: 100vh;
    background: url('img/pexels-alleksana-4051216.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create .content {
    border: 3px solid rgb(28, 119, 238);
    padding: 3rem;
    position: relative;
}

/* .create .content::before{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 10px;
    border: 4px solid rgb(184, 12, 12);
} */


.create .content h1{
    font-family: 'Satisfy', sans-serif;
    font-size: 3rem;
    color: rgb(76, 16, 240);
    letter-spacing: 7px;
    line-height: 1.8;
}

.slide{
    width: 100vw;
    margin-top: 4rem;

}

.zoom{
    width: 90vw;
    margin: 0 auto;
    height: 50vh;
    
}

.zoom .box{
    width: 40%;
    margin-left: 4rem;
}

.zoom .box img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.grid{
    margin-top: 7rem;
    width: 100vw;
}

.grid .container{
    width: 80%;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 250px 250px;
    gap: 1rem;
}

.grid .container .box{
    display: flex;
    overflow: hidden;
}

.grid .container .box img{
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.box-1{
    grid-column: 1 /5;
    grid-row: 1/2;
    display: flex;
}

.box-2{
    grid-column: 5/9;
    display: flex;
    grid-row: 1 / 3;
}

.box-3{
    grid-column: 1/3;
    grid-row: 2/-1;
    display: flex;
}

.box-4{
    grid-column: 3/5;
    display: flex;
    grid-row: 2/-1;
}

.grid .container .box:hover img{
    transform: scale(2.05);
}


.founder{
    width: 100vw;
    margin-top: 4rem;
}

.founder .container{
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: #ffa94d;
    border-radius: 10px;
}

.founder .container .card-img{
    /* flex: 0 0 40%; */
    width: 100%;

}

.founder .container .card-img img{
    width: 100%;
    height: 100%;
}